In [1]:
from feature_transformation_cls import FeatureTransform

In [2]:
# Fill Missing Values
'''from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean') # 
# imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent') # categorical data
# fit_transform(self.df[[kwargs['column_name']]]).toarray()
imp.fit_transform(class_df[['Binning']])'''


featuretransform = FeatureTransform('../data/data_differentfeature.csv', )
class_df = featuretransform.get_data_frame() 
display (class_df)

#featuretransform.apply_feature_transform(column_name='NominalClass', func_type='nominal')
#featuretransform.show_dataframe()

order = {'S':1, 'M':2, 'L':3, 'XL':4, 'XLL':5, 'XLLL':6}

#featuretransform.apply_feature_transform(column_name='OrdinalClass', func_type='ordinaltolabel', order=order)

#featuretransform.apply_feature_transform(column_name='OrdinalClass-Label', func_type='ordinal')

#fea_array = featuretransform.apply_feature_transform(column_name='OrdinalClass', func_type='oneHot', data_type_func='ordinal')

fea_array = featuretransform.apply_feature_transform(column_name='Binning', func_type='oneHot', data_type_func='bin', n_bins=5, encode='ordinal', strategy='quantile')

fea_array = featuretransform.apply_feature_transform(column_name='NominalClass', func_type='oneHot', data_type_func='nominal')

fea_array = featuretransform.apply_feature_transform(column_name='ListData_1', func_type='multiLabel', classes=featuretransform.extract_value_frm_list(class_df['ListData_1'].dropna().apply(literal_eval).tolist()), data_type_func='ordinal')

#fea_array = featuretransform.apply_feature_transform(column_name='OrdinalClass', func_type='oneHot', data_type_func='ordinal')

#featuretransform.apply_feature_transform(column_name='LogTransform', func_type='log')

'''featuretransform.apply_feature_transform(column_name='Hashing', func_type='hash', n_features=3)

featuretransform.apply_feature_transform(column_name='Count', func_type='count', threshold=10)

featuretransform.apply_feature_transform(column_name='Scalling', func_type='scale', factor=1000)

featuretransform.apply_feature_transform(column_name='Binning', func_type='bin', n_bins=5, encode='onehot', strategy='quantile')'''

featuretransform.show_dataframe(n=20)

,PatientID,Continuous,Count,Scaling,Binning,LogTransform,ListData_1,NominalClass,OrdinalClass,Hashing,ListData
0,120,20.0,0.0,1000.0,0.0,30000,"['AB', 'C']",Red,S,Red,"['A', 'C']"
1,121,13.5,0.0,10000.0,12.0,10000,"['A', 'B', 'C']",Blue,M,Blue,"['A', 'B', 'C']"
2,122,12.0,12.0,5000.0,17.0,5000,[],Green,XLL,Green,[]
3,123,10.0,14.0,NaN,18.0,25000,"['A', 'D', 'C']",Red,XL,White,"['A', 'D', 'C']"
4,124,9.5,NaN,50000.0,16.0,12500,"['A', 'F', 'C']",Yellow,XL,Blue,"['A', 'F', 'C']"
5,125,2.0,4.0,35000.0,NaN,200000,['A'],Blue,NaN,NaN,['A']
6,126,5.0,40.0,15000.0,12.0,75000,['F'],Green,S,Green,['F']
7,127,NaN,30.0,NaN,40.0,67000,NaN,NaN,NaN,Yellow,"['A', 'B', 'C']"
8,128,10.0,25.0,10000.0,45.0,80000,"['A', 'B', 'C']",Green,XLLL,Green,"['A', 'B', 'C']"
9,129,100.0,0.0,5000.0,14.0,90000,"['A', 'B', 'C']",Green,S,NaN,NaN
10,130,0.0,4.0,9000.0,50.0,250000,"['A', 'B', 'C']",Red,M,Red,"['A', 'B', 'C']"

bin data
[array(['Blue', 'Green', 'Red', 'Yellow'], dtype=object)]

NameError: name 'literal_eval' is not defined